@page "/CSGenerator"
@using System.ComponentModel.DataAnnotations

<h1>C# Generator</h1>

<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputTextArea cols="40" rows="10" id="json" @bind-Value="@exampleModel.Json"/>
    <button type="submit">Submit</button>
</EditForm>

<p>
    @cSharp
</p>
<p style="color: red">
    @error
</p>


@code {

    class ExampleModel {
        [Required]
        public string Json { get; set; }
    }

    private ExampleModel exampleModel = new ExampleModel();
    private string cSharp;
    private string error;

    private void HandleValidSubmit() {
        cSharp = null;
        error = null;
        CSharp.CreateFile(exampleModel.Json).Match(x => cSharp = x, x => error = x.Message);
    }

}