<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <span class="oi" aria-hidden="true">
            <img src="Icons/home.svg" alt="Home icon"/>
        </span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item ">
            <NavLink class="nav-link" href="CSGenerator" data-toggle="tooltip" data-placement="right" title="Generate C#">
                <span class="oi" aria-hidden="true">
                    <img src="Icons/csharp.svg" alt="CSharp file ending icon"/>
                </span> 
            </NavLink>
        </li>
        <li class="nav-item ">
            <NavLink class="nav-link" href="SQlGenerator" data-toggle="tooltip" data-placement="right" title="Generate SQL">
                <span class="oi" aria-hidden="true">
                    <img src="Icons/sql.svg" alt="SQL file ending icon"/>
                </span> 
            </NavLink>
        </li>
        <li class="nav-item ">
            <NavLink class="nav-link" href="SQLProcedureBuilder" data-toggle="tooltip" data-placement="right" title="Generate SQL">
                <span class="oi" aria-hidden="true">
                    <img src="Icons/sql.svg" alt="SQL file ending icon"/>
                </span> 
            </NavLink>
        </li>
    </ul>
    
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        _collapseNavMenu = !_collapseNavMenu;
    }

}